.loading
    &:before
        content ""
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        display block

        width lf(24px, 24.01px)
        height lf(24px, 24.01px)
        margin-right lf(12px, 12.01px)

        border lf(3px, 3.01px) solid #D9E2E5
        border-top-color #005963
        border-radius 50%
        animation spinner 1.9s linear infinite
