.socials
    display flex
    justify-content center
    &__items
        display flex
        flex-wrap wrap
        margin-left lf(-24px, -24.01px, (393 1440))
    &__item
        margin-left lf(24px, 24.01px, (393 1440))
        display block
        width lf(40px, 40.01px, (393 1440))
        height lf(40px, 40.01px, (393 1440))
        border-radius 100%
        display flex
        justify-content center
        align-items center
        background var(--teal-400)
        img, svg
            height 39%
            width 50%
            background none
        &:hover
            background var(--teal-300)

