<!-- start selected-filters -->
<div block="selected-filters">
    <span elem="item">
        Партнерская программа
        <span elem="item-remove">
            {{ _icon('cross', { tag: 'span' }) }}
        </span>
    </span>
    <span elem="item">
        Гейм-провайдер
        <span elem="item-remove">
            {{ _icon('cross', { tag: 'span' }) }}
        </span>
    </span>
    <span elem="item">
        Партнёрская сеть / CPA-сеть
        <span elem="item-remove">
            {{ _icon('cross', { tag: 'span' }) }}
        </span>
    </span>
    <span elem="item">
        Owner / Founder / CEO
        <span elem="item-remove">
            {{ _icon('cross', { tag: 'span' }) }}
        </span>
    </span>
    <span elem="item">
        BizDev / Business Development
        <span elem="item-remove">
            {{ _icon('cross', { tag: 'span' }) }}
        </span>
    </span>
    <button type="button" elem="reset">Сбросить все</button>
</div>
<!-- end selected-filters -->
