.callout
    padding lf(28px, 28.01px) lf(28px, 36px)
    margin lf(24px, 24.01px) 0
    background-color var(--surface3)

    &--info
        background-color var(--surface4)

    &--accent
        background-color var(--pink)
