.photo-reports-list
    margin-bottom lf(40px, 48px)
    &__grid
        // margin-bottom lf(-40px, -44px)
        display grid
        grid-template-columns repeat(1, 1fr);
        gap lf(40px, 44px) lf(20px, 24px)
        align-items flex-start

    &__item
        // margin-bottom lf(40px, 44px)
        display block
        color var(--neutral-900)
        text-decoration none
        &:hover
            & ^[0]
                &__item
                    &-image
                        img
                            transform scale(1.02)

        &-image
            display block
            margin-bottom lf(12px, 16px)
            position relative
            z-index 0
            overflow hidden
            // &:before
            //     content ""
            //     display inline-block
            //     padding-top 65.164%

            img
                display block
                // position absolute
                left 0
                top 0
                width 100%
                height 100%
                object-fit cover
                transition 0.25s transform
                will-change transform

        .post-meta
            margin-bottom lf(3px, 3.01px)

        &-name
            font-size lf(18, 18.01)
            line-height lf(28px, 28.01px)
            font-weight 500
            display block


    &__link
        margin-top lf(36px, 48px)
        .site-button
            width 100%
            @media (min-width: $mq.md)
                width auto

    @media (min-width: $mq.sm)
        &__grid
            grid-template-columns repeat(2, 1fr);

        &__item
            margin-bottom 0

    @media (min-width: $mq.lg)
        &__grid
            grid-template-columns repeat(4, 1fr);

.container
    .photo-reports-list
        &__in
            padding-left 0
            padding-right 0

.photo-reports-list
    &[data-mobile-column="true"]
        padding-top lf(52px, 92px)
        padding-bottom lf(52px, 92px)
        & ^[0]
            &__grid
                padding-left lf(16px, 72px)
                padding-right lf(16px, 72px)
                margin-left lf(-16px, -72px)
                margin-right lf(-16px, -72px)


        @media (max-width: 991px)
            .photo-reports-list__grid
                display: flex !important
                overflow-x: auto
                align-items: flex-start
                gap: 20px
                scrollbar-width: none

                &::-webkit-scrollbar
                    display: none

            .masonry-column
                display: flex
                flex-direction: column
                gap: lf(28px, all)
                width: lf(332px, 416px, (393 992));
                flex-shrink: 0
                &:nth-child(4n + 3),
                &:nth-child(4n + 2)
                    flex-direction: column-reverse

            .photo-reports-list__item
                width: 100% !important
                margin-top: 0px !important

.main-page
    .photo-reports-list
        margin-bottom 0
