.masonry-grid
    margin-bottom lf(45px, 48px)
    position relative
    z-index 1

    &__bg
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        z-index -1
        img
            width 100%
            height 100%
            object-fit cover

    &__head
        margin-bottom lf(36px, 48px)
        max-width lf(636px, all)
        @media (min-width: $mq.md)
            margin-left auto
            margin-right auto

    &__title
        margin-top 0
        margin-bottom 0

    &__text
        margin-top lf(4px, 8px)
        font-size lf(18, 20)
        line-height lf(28px, 32px)
        font-weight 500

    &__items
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        gap: lf(32px, 48px) lf(16px, 24px);

        @media (min-width: $mq.md)
            grid-template-columns: repeat(3, 1fr);

        @media (min-width: $mq.xl)
            grid-template-columns: repeat(4, 1fr);

    &__item
        text-decoration none
        &:hover
            & ^[0]
                &__item
                    &-image
                        img
                            transform scale(1.02)
                    &-title
                        color var(--teal-400)
            .play-icon
                background var(--teal-400)

        &-content
            display block
            position relative

        &-image
            display block
            margin-bottom lf(12px, 20px)
            overflow hidden
            border-radius: lf(4px, 4.01px);
            img
                width 100%
                height 100%
                object-fit cover
                display block
                margin-bottom -1px
                transition 0.25s transform
                will-change transform

        .post-meta
            margin-bottom lf(8px, 12px)

        &-title
            font-size lf(16, 16.01)
            font-weight 500
            color var(--neutral-900)
            transition 0.25s color
            text-decoration none
            display inline-block

        .play-icon
            width lf(40px, 64px)
            height lf(40px, 64px)
            z-index 1

    &__link
        margin-top lf(36px, 48px)
        text-align center
        .site-button
            width 100%
        @media (min-width: $mq.md)
            .site-button
                width auto

.main-page
    .masonry-grid
        text-align center
        margin-bottom lf(52px, 92px)
        &--special
            text-align left
            margin-bottom 0
        .post-meta
            justify-content center

        &--center
            @media (min-width: $mq.lg)
                text-align center

.masonry-grid
    &__item
        &--circle
            & ^[0]
                &__item
                    &-image
                        border-radius 100%

.masonry-grid

    &__category
        font-size lf(14, all)
        margin-bottom lf(4px, 8px)
        font-weight 500
        a
            text-decoration none
            color var(--teal-300)
            &:hover
                color var(--teal-200)
                &:before
                    background var(--teal-200)

            &:before
                content ''
                display inline-block
                vertical-align middle
                width lf(16px, all)
                height lf(16px, all)
                border-radius 100%
                margin-right lf(9px, all)
                background var(--teal-300)
                transition 0.25s background

    &--special
        background var(--surface3)
        padding lf(54px, 92px) 0
        margin-bottom 0
        @media (min-width: $mq.md)
            text-align left

        & ^[0]
            &__head
                max-width none
                margin-bottom lf(36px, 60px)

            &__items
                margin-left lf(-16px, -72px)
                margin-right lf(-16px, -72px)
                padding-left lf(16px, 72px)
                padding-right lf(16px, 72px)

                display flex
                flex-flow row
                overflow hidden
                overflow-x auto

                scrollbar-height none
                scrollbar-width: none;
                -ms-overflow-style: none;
                &::-webkit-scrollbar
                    display none

            &__item
                flex none
                width: lf(332px, 416px, (393 992));
                &-title
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size lf(18, all)
                    line-height lf(28px, all)

        @media (min-width: $mq.lg)
            & ^[0]

                &__items
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    align-items: start;

                &__item
                    width auto
                    flex auto

.masonry-grid:has(+ .last-videos)
    margin-bottom 0

.masonry-grid

    &--center
        @media (min-width: $mq.lg)
            text-align center
            & ^[0]
                &__items
                    flex-wrap wrap
                    display: flex;
                    justify-content: center;
                    justify-items: center;

                &__item
                    width 23.611%
                    flex none

.masonry-grid
    &.has-bg
        & ^[0]

            &__category
                a
                    color var(--white)
                    &:before
                        background #2BCAD1

            &__title
                color var(--white)

            &__text
                color var(--neutral-200)

            &__item
                &-title
                    color var(--neutral-200)
                &:hover
                    & ^[0]
                        &__item-title
                            color var(--teal-200)
