<!-- start masonry-grid -->
{% if mansoryHead == true %}
<section block="masonry-grid" mods="{{masonryMods}}" {% if masonryBg %}class="has-bg"{% endif %}>
{% else %}
<div block="masonry-grid" mods="{{masonryMods}}" {% if masonryBg %}class="has-bg"{% endif %}>
{% endif %}
    {% if masonryBg %}
    <div elem="bg">
        <img loading="lazy" src="{{masonryBg}}" alt="">
    </div>
    {% endif %}
    <div elem="in" {% if fullWidth == true %}class="container"{% endif %}>
        {% if mansoryTitle != '' and mansoryText != '' %}
        <div elem="head">
            {% if mansoryCategory == true %}
            <div elem="category"><a href="#">спецпроект</a></div>
            {% endif %}
            <h2 elem="title">{{mansoryTitle}}</h2>
            <div elem="text">{{mansoryText}}</div>
        </div>
        {% endif %}
        <div elem="items" class="js-mansory-grid">
            {% for item in mansory %}
            <article elem="item" mods="{{item.mods}}" class="js-mansory-item" data-filter-id="{{item.id}}">
                <span elem="item-content">
                    {% if item.video == true %}
                    {% include "blocks/play-icon/play-icon.html" %}
                    {% endif %}
                    <a elem="item-image" href="#" aria-label="{{item.title}}" title="{{item.title}}">
                        <img loading="lazy" src="{{item.img}}" alt="">
                    </a>
                    {% if item.video != true %}
                    {% set postCategory = item.category %}
                    {% set postTime = item.time %}
                    {% set postAuthor = item.author %}
                    {% if postCategory and postTime and postAuthor %}
                        {% include "blocks/post-meta/post-meta.html" %}
                    {% endif %}
                    <a elem="item-title" href="#" aria-label="{{item.title}}">{{item.title}}</a>
                    {% else %}

                    {% endif %}
                </span>
            </article>
            {% endfor %}
        </div>
        {% if featuredBtn == true %}
        <div elem="link">
            {% set tagA = true %}
            {% set arrR = true %}
            {% include "blocks/site-button/site-button.html" %}
        </div>
        {% endif %}
    </div>
{% if mansoryHead == true %}
</section>
{% else %}
</div>
{% endif %}
<!-- end masonry-grid -->
