<!-- start news-list -->
<section block="news-list">
    <div elem="in">
        <article elem="item">
            {% set postCategory = "Рубрика" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="Доход теневого гемблинга в Латвии вырос до €62 млн">
                Доход теневого гемблинга в Латвии вырос до €62 млн
            </a>
        </article>
        <article elem="item">
            {% set postCategory = "" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="1xBet возобновил работу в Казахстане после интеграции с ЕСУ">
                1xBet возобновил работу в Казахстане после интеграции с ЕСУ
            </a>
        </article>
        <article elem="item">
            {% set postCategory = "Рубрика" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="Британский регулятор ищет руководителя по борьбе с нелегальным гемблингом за £65 000 в год">
                Британский регулятор ищет руководителя по борьбе с нелегальным гемблингом за £65 000 в год
            </a>
        </article>
        <article elem="item">
            {% set postCategory = "" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="1xBet получил награду «Лучшая партнерская программа» на SBC Awards Malta">
                1xBet получил награду «Лучшая партнерская программа» на SBC Awards Malta
            </a>
        </article>
        <article elem="item">
            {% set postCategory = "Рубрика" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="KSA подала более 4 600 жалоб на рекламу нелегального гемблинга в Meta за апрель">
                KSA подала более 4 600 жалоб на рекламу нелегального гемблинга в Meta за апрель
            </a>
        </article>
        <article elem="item">
            {% set postCategory = "" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="Российские БК потеряли 21% трафика в апреле">
                Российские БК потеряли 21% трафика в апреле
            </a>
        </article>
        <article elem="item">
            {% set postCategory = "" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="Entain более 500 раз нарушил правила самоисключения в Австралии">
                Entain более 500 раз нарушил правила самоисключения в Австралии
            </a>
        </article>
        <article elem="item">
            {% set postCategory = "" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="98% игроков в Бразилии делают ставки со смартфона">
                98% игроков в Бразилии делают ставки со смартфона
            </a>
        </article>
        <article elem="item">
            {% set postCategory = "" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="Швеция вводит проверки источников средств игроков и усиливает систему самоисключения">
                Швеция вводит проверки источников средств игроков и усиливает систему самоисключения
            </a>
        </article>
        <article elem="item">
            {% set postCategory = "Рубрика" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="Хакер получил 30 месяцев тюрьмы за взлом DraftKings">
                Хакер получил 30 месяцев тюрьмы за взлом DraftKings
            </a>
        </article>
        <article elem="item">
            {% set postCategory = "" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="Канье Уэст едет на G GATE CONF раньше времени?">
                Канье Уэст едет на G GATE CONF раньше времени?
            </a>
        </article>
        <article elem="item">
            {% set postCategory = "Рубрика" %}
            {% set postTime = "21.04.2026" %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="item-text" href="#" aria-label="Blask поделился аналитикой по iGaming-рынкам за период с 27 апреля по 3 мая">
                Blask поделился аналитикой по iGaming-рынкам за период с 27 апреля по 3 мая
            </a>
        </article>
    </div>
</section>
<!-- end news-list -->
