{% set contactsTableData = contactsTableData | default(contactsTableRu) %}
<!-- start contacts-list -->
<div block="contacts-list" mods="{{contactsListMods}}" class="js-list">
    <div elem="items">
        {# % if contactsListMods == "horisontal" % #}
        <div elem="header">
            <div elem="header-th">{{ contactsTableData.contact }}</div>
            <div elem="header-th">{{ contactsTableData.role }}</div>
            <div elem="header-th">{{ contactsTableData.company }}</div>
            <div elem="header-th">{{ contactsTableData.channels }}</div>
        </div>
        {# % endif % #}
        {% include "blocks/entity-card/entity-card.html" %}
    </div>
</div>
<!-- end contacts-list -->
