---
pageTitle: AI поиск анг, стартовая стр
bodyClasses:
layout:
    header: true
    footer: true
    left: false
    right: false
---

{% set aiSearchSimple = false %}

{% set aiSearchMain = true %}

{% extends "layout.html" %}

{% block content %}

    {% set items = [
        { name: "G Gate", url: "home.html" },
        { name: "AI Guide", url: "#" }
    ] %}

    {% include "blocks/breadcrumb/breadcrumb.html" %}


    <div block="container">
        <div elem="in">
            {% set aiSearchData = aiSearchEn %}
            {% include "blocks/ai-search/ai-search.html" %}
            {% include "blocks/page-banner/page-banner.html" %}

        </div>

    </div>



{% endblock %}

{% block scripts %}

{% endblock %}
