---
pageTitle: Главная
bodyClasses: main-page
layout:
    header: true
    footer: true
    left: false
    right: false
---

{% extends "layout.html" %}

{% block content %}

    {% include "blocks/hero/hero.html" %}

    <div class="container">

        {% include "blocks/categories/categories.html" %}

        <div class="h1">Новости</div>
        {% set afterH1 = 'Самые актуальные новости за последню неделю.' %}
        {% include "blocks/after-h1/after-h1.html" %}
        {% set featuredBtn = true %}
        {% include "blocks/featured-articles/featured-articles.html" %}

        {% set mansoryHead = true %}
        {% set mansoryTitle = 'Свежие материалы' %}
        {% set mansoryText = '
            Последние видео с экспертами индустрии, кейсами <br> и актуальными темами iGaming — на нашем YouTube-канале.
        '
        %}

        {% set mansory = mansoryMainPage %}
        {% set mansoryCategory = false %}
        {% set btnName = 'Смотреть все' %}
        {% include "blocks/masonry-grid/masonry-grid.html" %}

    </div>

    {% set masonryMods = 'special' %}
    {% set mansoryCategory = true %}
    {% set fullWidth = true %}
    {% set mansoryTitle = 'Эксперты iGaming: взгляд изнутри' %}
    {% set btnName = 'Перейти в Спецпроект' %}
    {% set mansory = mansoryMainPageSpecial %}
    {% include "blocks/masonry-grid/masonry-grid.html" %}

{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="js/swiper/swiper.min.css">
    <script src="js/swiper/swiper-bundle.min.js" defer></script>
{% endblock %}
