---
pageTitle: Фотоотчет анг
bodyClasses:
layout:
    header: true
    footer: true
    left: false
    right: false
---

{% set pageLang = 'en' %}
{% set headerData = headerEng %}
{% set footerData = footerEng %}

{% extends "layout.html" %}

{% block content %}

    {% set items = [
        { name: "G Gate", url: "home.html" },
        { name: "Photo Reports", url: "#" },
        { name: "G GATE COCKTAIL", url: "#" }
    ] %}

    {% include "blocks/breadcrumb/breadcrumb.html" %}

    <div block="container">
        <div elem="in">

            {% set postCategory = '' %}
            {% set postTime = 'April 21st, 2026' %}
            {% set postAuthor = '' %}
            {% include "blocks/post-meta/post-meta.html" %}

            <h1>G GATE Cocktail</h1>

            <p>
                On April 15, a cocktail evening for our close friends took place in Limassol — the G GATE COCKTAIL. The G GATE team gathered a select group of guests — only 100 people became part of this private event. During the evening, important insights about the upcoming G GATE CONF were shared with the guests: the conference map was presented, and a private premiere screening of the documentary film about G GATE was held.
            </p>

            {% set sponsorData = sponsorEng %}
            {% include "blocks/sponsor/sponsor.html" %}

            {% set noticeItemText = "Thank you for mentioning" %}
            {% include "blocks/notice-item/notice-item.html" %}

            {% include "blocks/gallery/gallery.html" %}

            {% include "blocks/pagination/pagination.html" %}



        </div>

        {% include "blocks/page-banner/page-banner.html" %}

        {% set title = 'Interesting Photo Reports' %}
        {% set subtitle = 'We have selected more interesting photo reports for you' %}
        {% set recommendedMaterials = recommendedPhotosEng %}
        {% set recommendedMods = 'photos' %}
        {% set button = true %}
        {% include "blocks/recommended-materials/recommended-materials.html" %}

    </div>



{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
{% endblock %}
