.link-arr
    display inline-flex
    align-items center
    font-size lf(14, 14.01)
    line-height lf(20, 20.01)
    font-weight 500
    text-decoration none
    color var(--teal-400)
    .svg-icon
        margin-top lf(1.3px, 3.3)
        width lf(10.67px, 10.68px)
        height lf(6.67px, 6.68px)
        margin-left lf(8.67, 8.68)
        transition transform 0.25s

    &:hover
        color var(--teal-300)
        .svg-icon
            transform translateX(3px)
