<!-- start info -->
<div block="info-wrapper">
    <div elem="row">
        <div elem="col">
            <div block="info">
                <div elem="text">
                    <b>1xBet Partners — партнёрская программа официального прямого рекламодателя бренда 1xBet. Работает с тематикой онлайн-казино, беттинг и киберспорт. Условия сотрудничества: RevShare 25–40%. Выплаты производятся еженедельно. Отрицательный баланс переносится (NCO). Брендовый трафик принимается по согласованию.</b>
                </div>
            </div>
            <div block="info">
                <h2 elem="title" class="h3">Основная информация</h2>
                <table>
                    <tr>
                        <td>Статус</td>
                        <td>Работает</td>
                    </tr>
                    <tr>
                        <td>Название</td>
                        <td>1xBet Partners</td>
                    </tr>
                    <tr>
                        <td>Дата основания</td>
                        <td>2007</td>
                    </tr>
                    <tr>
                        <td>Кол-во брендов</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Названия брендов</td>
                        <td>1xBet</td>
                    </tr>
                </table>
            </div>
            <div block="info">
                <h2 elem="title" class="h3">GEO</h2>
                <div elem="tags">
                    <div elem="tag">Casino</div>
                    <div elem="tag">Betting</div>
                    <div elem="tag">CyberSport</div>
    <!--                 <div elem="tag">BCLB (Кения)</div>
                    <div elem="tag">Curacao</div>
                    <div elem="tag">SEGOB (Мексика)</div>
                    <div elem="tag">Гана</div>
                    <div elem="tag">ДР Конго</div>
                    <div elem="tag">Замбия</div>
                    <div elem="tag">Камерун</div>
                    <div elem="tag">Кыргызстан</div>
                    <div elem="tag">Мозамбик</div>
                    <div elem="tag">Нигерия</div>
                    <div elem="tag">Сенегал</div>
                    <div elem="tag">Танзания</div>
                    <div elem="tag">Уганда</div> -->
                </div>
            </div>
            <div block="info">
                <h2 elem="title" class="h3">Подробная информация</h2>
                <table>
                    <tr>
                        <td>Оценочный индекс</td>
                        <td>64.1 из 100</td>
                    </tr>
                    <tr>
                        <td>Брендовый трафик</td>
                        <td>Разрешён</td>
                    </tr>
                    <tr>
                        <td>Промокоды</td>
                        <td>Да</td>
                    </tr>
                    <tr>
                        <td>Отрицательный баланс</td>
                        <td>Переносится</td>
                    </tr>
                    <tr>
                        <td>Hold</td>
                        <td>0 дней</td>
                    </tr>
                    <tr>
                        <td>Cookie</td>
                        <td>30 дней</td>
                    </tr>
                    <tr>
                        <td>Платформа</td>
                        <td>inhouse</td>
                    </tr>
                    <tr>
                        <td>Postback</td>
                        <td>Да</td>
                    </tr>
                    <tr>
                        <td>Статистика</td>
                        <td>Каждый час</td>
                    </tr>
                    <tr>
                        <td>Условия и правила</td>
                        <td><a href="#" aria-label="Читать">Читать</a></td>
                    </tr>
                </table>
            </div>
            <div block="info">
                <h2 elem="title" class="h3">Плюсы и минусы</h2>
                <!-- <div elem="list" mods="pros-and-cons mobile-no-cols"> -->
                <div elem="list" mods="pros-and-cons">
                    <div elem="list-col">
                        <ul>
                            <li>Известный бренд</li>
                            <li>Много GEO</li>
                            <li>CPA / RevShare / Hybrid</li>
                            <li>Разные вертикали для продвижения</li>
                            <li>Поддержка менеджера</li>
                        </ul>
                    </div>
                    <div elem="list-col">
                        <ul class="negative">
                            <li>Есть ограничения по трафику</li>
                            <li>Условия зависят от GEO</li>
                            <li>Необходима проверка правил перед запуском</li>
                            <li>Выплаты зависят от качества трафика</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div block="info">
                <h2 elem="title" class="h3">Продукты и вертикали</h2>
                <div block="tabs-titles">
                    <div elem="items">
                        <a elem="item" class="js-ajax is-active" href="#" data-tab-target="prod">Продукты</a>
                        <a elem="item" class="js-ajax" href="#" data-tab-target="traf">Источники трафика</a>
                    </div>
                </div>
                <div elem="tab-body"  data-tab-id="prod" class="is-active">
                    <div elem="list" mods="products mobile-no-cols">
                        <div elem="list-col">
                            <ul>
                                <li>Спорт</li>
                                <li>Казино</li>
                                <li>Live casino</li>
                                <li>Слоты</li>
                                <li>Киберспорт</li>
                                <li>Покер</li>
                            </ul>
                        </div>
                        <div elem="list-col">
                            <ul>
                                <li>Покер</li>
                                <li>Виртуальный спорт</li>
                                <li>Мобильный трафик</li>
                                <li>Беттинг</li>
                                <li>Турниры</li>
                            </ul>
                        </div>
                        <div elem="list-col">
                            <ul class="negative">
                                <li>Gambling-трафик из запрещённых GEO</li>
                                <li>Мотивированный трафик</li>
                            </ul>
                        </div>
                    </div>
                    <div elem="counts">
                        <div elem="count">Доступно: <span>11</span></div>
                        <div elem="count" mods="unavailable">Ограничено / недоступно: <span>2</span></div>
                    </div>
                </div><!--tab-body-->
                <div elem="tab-body"  data-tab-id="traf">
                    <div elem="list" mods="products mobile-no-cols">
                        <div elem="list-col">
                            <ul>
                                <li>Спорт</li>
                                <li>Казино</li>
                                <li>Live casino</li>
                                <li>Слоты</li>
                            </ul>
                        </div>
                        <div elem="list-col">
                            <ul>
                                <li>Покер</li>
                                <li>Виртуальный спорт</li>
                                <li>Мобильный трафик</li>
                                <li>Беттинг</li>
                            </ul>
                        </div>
                        <div elem="list-col">
                            <ul class="negative">
                                <li>Gambling-трафик из запрещённых GEO</li>
                                <li>Мотивированный трафик</li>
                                <li>Турниры</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div block="info">
                <h2 elem="title" class="h3">Органический трафик</h2>
                <div elem="chart" class="js-chart"></div>
            </div>
            <div block="info">
                <h2 elem="title" class="h3">Органический трафик</h2>
                <div elem="chart" class="js-chart"></div>
            </div>
        </div>










        <div elem="col">

            <div block="info">
                <h2 elem="title" class="h3">Лицензии</h2>
                <div elem="tags">
                    <div elem="tag">BCLB (Кения)</div>
                    <div elem="tag">Curacao</div>
                    <div elem="tag">SEGOB (Мексика)</div>
                    <div elem="tag">Гана</div>
                    <div elem="tag">ДР Конго</div>
                    <div elem="tag">Замбия</div>
                    <div elem="tag">Камерун</div>
                    <div elem="tag">Кыргызстан</div>
                    <div elem="tag">Мозамбик</div>
                    <div elem="tag">Нигерия</div>
                    <div elem="tag">Сенегал</div>
                    <div elem="tag">Танзания</div>
                    <div elem="tag">Уганда</div>
                </div>
            </div>

            <div block="info">
                <h2 elem="title" class="h3">Финансы</h2>
                <table>
                    <tr>
                        <td>Тип комиссии</td>
                        <td>RevShare, Sub-Affiliate</td>
                    </tr>
                    <tr>
                        <td>Форма расчёта прибыли</td>
                        <td>NGR</td>
                    </tr>
                    <tr>
                        <td>Admin Fee</td>
                        <td>Отсутствует</td>
                    </tr>
                    <tr>
                        <td>NGR проверенный</td>
                        <td>83% (2020 г.)</td>
                    </tr>
                    <tr>
                        <td>RevShare</td>
                        <td>25%</td>
                    </tr>
                    <tr>
                        <td>RS+</td>
                        <td>25–40%</td>
                    </tr>
                    <tr>
                        <td>CPA</td>
                        <td>Индивидуально</td>
                    </tr>
                    <tr>
                        <td>Гибрид</td>
                        <td>Индивидуально</td>
                    </tr>
                    <tr>
                        <td>Sub-Affiliate</td>
                        <td>3–5%</td>
                    </tr>
                </table>
            </div>

            <div block="info">
                <h2 elem="title" class="h3">Выплаты</h2>
                <table>
                    <tr>
                        <td>Минимальная выплата</td>
                        <td>30 USD</td>
                    </tr>
                    <tr>
                        <td>Периодичность выплат</td>
                        <td>Еженедельно</td>
                    </tr>
                    <tr>
                        <td>До какого числа</td>
                        <td>Каждый вторник</td>
                    </tr>
                    <tr>
                        <td>Методы платежей</td>
                        <td>Bitcoin, Dashcoin, Dogecoin, Litecoin, USDT, WebMoney</td>
                    </tr>
                </table>
            </div>
            <div block="info">
                <h2 elem="title" class="h3">Источники трафика</h2>
                <div elem="tags">
                    <div elem="tag">ASA</div>
                    <div elem="tag">ASO</div>
                    <div elem="tag">Email</div>
                    <div elem="tag">FB Ads</div>
                    <div elem="tag">Google Ads</div>
                    <div elem="tag">In-App</div>
                    <div elem="tag">Influence</div>
                    <div elem="tag">PPC</div>
                    <div elem="tag">SEM</div>
                    <div elem="tag">SEO</div>
                    <div elem="tag">SMS</div>
                    <div elem="tag">Telegram Ads</div>
                    <div elem="tag">TikTokTikTok</div>
                    <div elem="tag">UAC</div>
                    <div elem="tag">YouTube Ads</div>
                </div>
            </div>

            <div block="info">
                <h2 elem="title" class="h3">GEO</h2>
                <div elem="tags">
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-1.svg" alt="">
                        </div>
                        Бразилия
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-2.svg" alt="">
                        </div>
                        Грузия
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-3.svg" alt="">
                        </div>
                        Дания
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-4.svg" alt="">
                        </div>
                        Египет
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-5.svg" alt="">
                        </div>
                        Финляндия
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-6.svg" alt="">
                        </div>
                        Франция
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-7.svg" alt="">
                        </div>
                        ЦАР
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-8.svg" alt="">
                        </div>
                        Чехия
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-9.svg" alt="">
                        </div>
                        Чили
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-10.svg" alt="">
                        </div>
                        Швейцария
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-11.svg" alt="">
                        </div>
                        Экваториальная Гвинея
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-12.svg" alt="">
                        </div>
                        Эритрея
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-13.svg" alt="">
                        </div>
                        Эстония
                    </div>
                    <div elem="tag">
                        <div elem="tag-icon">
                            <img loading="lazy" src="img/flagge-14.svg" alt="">
                        </div>
                        Эфиопия
                    </div>
                </div>
            </div>
            <div block="info">
                <h2 elem="title" class="h3">ГЕО 1xPartners</h2>
                <div block="tabs-titles">
                    <div elem="items">
                        <a elem="item" class="js-ajax is-active" href="#" data-tab-target="target-geo">Целевые ГЕО</a>
                        <a elem="item" class="js-ajax" href="#" data-tab-target="prohibited">Запрещенные ГЕО</a>
                    </div>
                </div>
                <div elem="tab-body"  data-tab-id="target-geo" class="is-active">
                    <div elem="list" mods="partners">
                        <div elem="list-col">
                            <ul>
                                <li>Азия</li>
                                <li>Африка</li>
                            </ul>
                        </div>
                        <div elem="list-col">
                            <ul>
                                <li>Восточная Европа</li>
                                <li>Южная Америка</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div elem="tab-body"  data-tab-id="prohibited">
                    <div elem="list" mods="partners">
                        <div elem="list-col">
                            <ul>
                                <li>Восточная Европа</li>
                                <li>Южная Америка</li>
                            </ul>
                        </div>
                        <div elem="list-col">
                            <ul>
                                <li>Азия</li>
                                <li>Африка</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end info -->
