.personal-data

    p,
    table
        &:first-child
            margin-top 0

        &:last-child
            margin-bottom 0

    h2
        margin lf(36px, 48px) 0 lf(16px, 16.01px)
        font-size lf(28, 28.01)
        line-height lf(36px, 36.01px)
        letter-spacing -0.01em

    p
        margin lf(12px, 12.01px) 0
