<!-- start rating -->
<section block="rating">
    <h2 elem="title" >Отзывы о 1win Partners </h2>
    <div elem="row">
        <div elem="score">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
            </svg>
            <div elem="score-num">
                4,7
                <span>/ 5</span>
            </div>
        </div>
        <div elem="score-text">
            на основе <a href="#">19 отзывов</a>
        </div>
    </div>

    <a block="site-button" mods="ghost" class="js-anchor" aria-label="{{btnName}}" title="{{btnName}}" data-anchor-target="send-review">Оставить отзыв</a>
</section>
<!-- end rating -->
