.is-dark-theme
    --text-inverse: #797F89;
    --light-grey: var(--navy-400);
    --surface2: var(--navy-200);
    --surface3: var(--surface-default);
    --neutral-600: var(--text-inverse)
    --link-color: var(--teal-300)
    --link-hover-color: var(--teal-200)

.is-dark-theme

    background var(--navy-800)
    color var(--text-secondary)

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
        color var(--neutral-25)

    .header
        &__in
            background var(--navy-800)
            border-color var(--navy-400)
        .site-logo
            svg
                path
                    fill var(--teal-300)
        .svg-icon
            fill var(--text-secondary)

        &__lang
            &:hover
                .header__lang-button
                    color var(--teal-300)
                    .svg-icon
                        fill var(--teal-300)

            &-button
                color var(--text-secondary)

        &__menu ul > li
            &:hover
                > a
                    color var(--teal-300)
                    .svg-icon
                        fill var(--teal-300)
            .itm-txt
                &:after
                    background var(--teal-300)
            &.current-menu-item > a
                color var(--teal-300)

            a
                color var(--text-secondary)
        &__menu ul li ul
            background var(--navy-800)
            border-color var(--navy-400)
            &:before
                background none

            a
                color var(--text-secondary)

        &__lang-dropdown
            background var(--navy-800)
            border: 1px solid var(--navy-400);
            li
                >*
                    color var(--text-secondary)

                a
                    &:hover
                        color var(--teal-300)
                span
                    &:after
                        background-image url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4785 0.202435C10.7349 0.466686 10.7285 0.888748 10.4642 1.14514L4.28023 7.14514C4.02162 7.39606 3.61042 7.39607 3.35179 7.14516L0.202458 4.08983C-0.0618059 3.83345 -0.0682 3.41139 0.188176 3.14712C0.444552 2.88286 0.866613 2.87647 1.13088 3.13284L3.81598 5.7378L9.53577 0.188198C9.80002 -0.0681904 10.2221 -0.0618165 10.4785 0.202435Z' fill='%232C8C90'/%3E%3C/svg%3E%0A")


    .site-button
        background var(--teal-300)
        &:hover
            background var(--teal-200)
    .h-button
        &:hover
            background var(--teal-200)

    ul li
        &:before
            background var(--teal-300)
    ol li
        &:before
            color var(--teal-300)

    blockquote, .blockquote
        background var(--surface-default)
        border-color var(--teal-300)
        &:before
            background url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H7.08333V6.375L3.34833 11.6667H1.07917L3.30083 6.66667H0V0ZM8.75 0H15.8333V6.375L12.0983 11.6667H9.82917L12.0508 6.66667H8.75V0Z' fill='%232C8C90'/%3E%3C/svg%3E") center center no-repeat

    .author-badge
        &__name
            color var(--text-secondary)
        &__role
            color var(--surface2)

    .callout
        background rgba(#85A1B9, 0.2)

        &--info
            background #103B3C

        &--accent
            background #722F4A

    .read-also__text
        color var(--white)
        &:hover
            color var(--teal-200)

    .swiper-pagination-bullet
        background var(--navy-400)
        opacity 0.3

        &.swiper-pagination-bullet-active
            background var(--teal-300)
            opacity 1
            box-shadow 0 0 0 lf(1px, 1.01px) var(--teal-300)
    table
        th
            color: var(--neutral-25);

    .footer
        a
            color var(--neutral-500)
            &:hover
                color var(--teal-300)

    .breadcrumb
        a
            &:hover
                color var(--teal-300)
        ol
            li
                color #C0C6CE

    .featured-articles
        background var(--surface-default)

        &__list-item-title
            a
                color var(--white)
                &:hover
                    color var(--teal-300)
        @media (min-width: $mq.lg)
            background none
            &__main
                background var(--surface-default)

    .article-feed
        &__category
            color var(--teal-200)

    .article-feed__title
        a
            color var(--neutral-25)
            &:hover
                color var(--teal-200)


    .article-feed__date
        color var(--text-secondary)

    .pagination
        &__button
            &:hover
                .svg-icon
                    fill var(--teal-300)

            .svg-icon
                fill var(--text-secondary)

    .pagination__button[disabled]
        .svg-icon
            fill var(--neutral-600)

    .pagination__item
        color #C0C6CE
        &:hover
            color var(--teal-300)
        &.is-active
            background var(--surface-default)
            color var(--teal-300)

    .recommended-materials__item-text
        color var(--neutral-25)
        &:hover
            color var(--teal-300)


    .article
        .author-badge
            &__avatar
                border-color rgba(#85A1B9, 0.20)
            &__name
                color var(--text-inverse)

    .article__skeleton-preloader
        color var(--text-inverse)
        &.loading:before
            border-color: #102A2F;
            border-top-color: var(--teal-300);

    .article__skeleton-meta,
    .article__skeleton-paragraph,
    .article__skeleton-badge div
        background #18252F
        background linear-gradient(90deg, #18252F 0%, #293e4c 15%, #18252F 30%, #18252F 100%)
        background-size 2300px 100%
        animation shimmer 3.5s infinite linear

    .db-color
        color var(--text-secondary)

    .anchors
        &__title
            .svg-icon
                fill var(--navy-200)

        &__title,
        &__list li a
            color var(--neutral-25)
        &__list li a
            &:hover
                color var(--teal-300)

    .atricles-filter
        &__item
            border-color var(--teal-400)
            &:hover
                color var(--white)

    .masonry-grid__item-title
        color var(--neutral-25)
    .masonry-grid__item:hover .masonry-grid__item-title
        color var(--teal-300)

    .author
        &__socials
            svg
                path
                    fill var(--navy-200)
            &-item
                &:hover
                    svg
                        path
                            fill var(--teal-300)

        &__metrics-item span
            color var(--teal-200)

    .tabs-titles
        &__item
            color var(--text-secondary)
            &:hover
                color var(--teal-300)
            &.is-active
                color var(--teal-300)
                &:after
                    background var(--teal-300)

    .news-list
        &__item-text
            color var(--neutral-25)
            &:hover
                color var(--teal-200)


    .photo-reports-list
        &__item
            color var(--neutral-25)
            &:hover
                color var(--link-hover-color)

    .notice-item__icon .svg-icon
        fill var(--teal-300)

    .search-result
        &__form
            border-color var(--navy-400)
            button
                .svg-icon
                    fill var(--navy-200)
                &:hover
                    .svg-icon
                        fill var(--teal-200)
            input
                color var(--text-secondary)
        &__item
            &-text
                color var(--neutral-25)
                &:hover
                    color var(--teal-300)
        &__quantity
            span
                color var(--teal-300)
    .post-meta
        &__category
            color var(--teal-200)

    .link-arr
        color var(--teal-300)
        &:hover
            color var(--teal-200)

    .tag-list
        &__item
            color var(--teal-300)
            border-color var(--navy-400)
            &:hover
                border-color var(--teal-300)
                color var(--white)
                background var(--teal-300)
            &.is-active
                background var(--teal-300)
                border-color var(--teal-300)
                color var(--white)
    .search-form
        border-color var(--navy-400)
        input
            color var(--navy-200)
            &::placeholder
                color var(--navy-200)

        .svg-icon
            fill var(--navy-200)

    .search-quantity
        color inherit
        span
            color var(--teal-300)

    .grid-switcher
        .grid-switcher__item
            .svg-icon
                fill var(--navy-400)
            &:hover
                .svg-icon
                    fill var(--teal-300)

        .grid-switcher__item.is-active
            background var(--surface-default)
            .svg-icon
                fill var(--teal-300)

    .entity-card
        &__name
            color var(--neutral-25)
        &__avatar
            span
                color var(--navy-800)

    .filter
        &__title
            color var(--neutral-25)
        &__group
            &-name
                color var(--neutral-25)
                &:hover
                    color var(--teal-300)
                .svg-icon
                    fill var(--navy-200)
        &__more
            color var(--teal-300)
            &:hover
                color var(--teal-200)

    .checkbox
        &__icon
            border-color var(--navy-400)

    .checkbox__input:checked + .checkbox__icon
        background var(--teal-300)
        border-color var(--teal-300)
        &:after
            background url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L3.5 6.5L1 4' stroke='%23091117' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat
            background-size 56%

    .selected-filters__reset
        color var(--teal-300)
        &:hover
            color var(--teal-200)

    .filter-icon
        border-color var(--teal-300)
        &:hover
            background var(--teal-300)
            .svg-icon
                fill var(--white)
        .svg-icon
            fill var(--teal-300)
        &__quantity
            background var(--teal-300)
            border-color var(--navy-800)

    .filter__in
        background var(--navy-800)

    .filter__footer
        background #131F28

    .contacts-list--horisontal
        .contacts-list__header
            background var(--surface-default)
            &-th
                color var(--neutral-25)

    .mobile-menu
        &__in
            background var(--navy-800)
        .site-logo
            svg
                path
                    fill var(--teal-300)
        &__footer-link
            background #131F28

        &__menu
            > ul
                > li
                    &.current-menu-item, &.is-opened
                        > a
                            color var(--teal-200)
                    > a
                        color var(--neutral-25)
                    ul
                        li
                            a
                                color var(--neutral-100)
            ul
                li
                    &.current-menu-item
                        > a
                            color var(--teal-200)
                    a
                        &:hover
                            color var(--teal-200)

    .header__burger
        background var(--teal-300)
        &:hover
            background var(--teal-200)
        .svg-icon
            fill var(--white)

    &.main-page
        .header__in
            background none
            border-color transparent
            @media (min-width: $mq.lg)
                border-color: rgba(255, 255, 255, 0.3);


        .hero__item-button
            .site-button
                background none
                &:hover
                    background: rgba(0, 67, 70, 0.4);
                    border: 1px solid #16676B;


        .header__burger
            background var(--teal-300)
            &:hover
                background var(--teal-200)

        .header
            .site-logo
                svg
                    path
                        fill var(--white)
            &.is-hero-passed
                .header__in,
                .header__in:before
                    background var(--navy-800)
                .site-logo
                    svg
                        path
                            fill var(--teal-300)

                .header__search-toggle,
                .header__theme-changer
                    .svg-icon
                        fill var(--text-secondary)
                    &:hover
                        .svg-icon
                            fill var(--neutral-800)

                .header__lang-button
                    color var(--text-secondary)

                .header__menu
                    > ul
                        > li
                            &:hover,
                            &.current-menu-item
                                > a
                                    color var(--teal-300)
                                    .itm-txt
                                        &:after
                                            background var(--teal-300)

                            > a
                                color var(--text-secondary)
                                .itm-txt {}

                .header__search-toggle,
                .header__theme-changer
                    &:hover
                        .svg-icon
                            fill var(--white)

    .categories
        &__item
            &-img
                img
                    border-color var(--navy-800)
            &-name
                color var(--neutral-25)

    .site-video
        &__container
            color var(--neutral-25)
            &:hover
                color var(--teal-300)

    .last-videos__controls
        .swiper-button
            &:hover
                .svg-icon
                    fill var(--teal-300)

    .masonry-grid.has-bg
        .masonry-grid__link
            .site-button
                background none
                &:hover
                    background: unquote('rgba(var(--white-rgb), 0.1)');

    .events-calendar__title
        color var(--surface-default)

    .events-calendar__container
        background var(--navy-800)

    .calendar__month-name
        color var(--text-secondary)

    .calendar__month-name.desktop-visible
        background var(--navy-800)
        color var(--text-secondary)
        span
            background var(--navy-800)

    .calendar .swiper-button .svg-icon
        fill var(--teal-300)

    .calendar__day-name
        color var(--text-secondary)
        opacity 1
    .calendar__day-date
        color var(--neutral-25)

    .event-card:hover
        background #083740
    .event-card__name
        color var(--neutral-25)

    .event-card__date
        color var(--text-secondary)

    .event-card__item
        color var(--text-secondary)

    .events-calendar__reset
        color var(--teal-200)
        &:hover
            color var(--teal-100)

    .events-calendar__controls .swiper-button
        &:hover
            .svg-icon
                fill var(--teal-200)

    .calendar__day.is-checked .calendar__day-date
        background var(--teal-300)



    .ai-search__form-row
        border-color var(--navy-400)
        textarea
            color var(--navy-200)
            &::placeholder
                color var(--navy-200)

    .ai-search__container
        &::-webkit-scrollbar-track
            background var(--surface-default)

        &::-webkit-scrollbar-thumb
            background var(--navy-400)

    .ai-search__form-button[disabled]
        background var(--navy-400)
        pointer-events none
        .svg-icon
            fill var(--navy-800)

    .ai-search__form-list
        li
            color var(--teal-300)
            border-color var(--navy-400)

            &:hover
                color var(--teal-200)
                svg
                    path
                        fill var(--teal-200)

            &.is-checked
                border-color var(--teal-300)
                background var(--teal-300)
                color var(--white)
                svg
                    path
                        fill var(--white)

            svg
                path
                    fill var(--navy-200)

    .ai-search__form-button
        background var(--teal-300)
        .svg-icon
            fill var(--navy-800)
        &:hover
            background var(--teal-200)

    .ai-search__answer-note
        color var(--teal-300)

    .ai-search__answer-note--error
        color #D73949

    .ai-search__answer h2
        color var(--text-secondary)

    .iLink
        background var(--teal-300)
        color var(--navy-800)

    .ai-search.is-limited-height
        .ai-search__form
            background #131F28
            &:after
                background #131F28

        .ai-search__form-row
            background var(--navy-800)

        @media (min-width: 944px)
            .ai-search__form
                background none
                &:after
                    display none

    .ai-search__thinking-preloader:after
        background var(--teal-300)
