@require 'components/_mixins';
@require 'components/_variables';

[lang="en"]
    .tag-list

        &__item
            margin-right lf(8px, all)
            &:last-child
                margin-right 0

        @media (min-width: $mq.lg)
            &__item
                margin-right 0
                margin-left lf(13.8px, all)
