@require 'components/_mixins';
@require 'components/_variables';

// [lang="en"]
//     .featured-articles
//         background none
//         padding-top 0
//         &__main
//             padding lf(16px, 32px) lf(16px, 32px) lf(22px, 32px)
//             background var(--surface3)
//             margin-bottom lf(28px, all)

//         &__list
//             &-item
//                 &:first-child
//                     border-top 0
//                     padding-top 0

//         @media (min-width: $mq.xl)
//             align-items flex-start
//             &__main
//                 margin-bottom 0
