<!-- start partner-review -->
<section block="partner-review" class="container">

    <aside elem="sidebar">

        <div elem="title" class="h2">Обзор партнерской программы</div>

        <nav block="anchors" class="js-accordion-item" aria-label="Содержимое страницы">
            <button elem="title" type="button" class="js-accordion-title" aria-expanded="true">Содержание {{ _icon('arr-d', { tag: 'span' }) }}</button>
            <div elem="dropdown" class="js-accordion-body">
                <ul elem="list">
                    <li class="is-active">
                        <a href="#" class="js-anchor" data-anchor-target="0">
                            Общая информация
                        </a>
                        <ul>
                            <li><a href="#" class="js-anchor" data-anchor-target="0.1">Нюансы работы с сайтом</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="js-anchor" data-anchor-target="1">
                            Регистрация в 1win Partners
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-anchor" data-anchor-target="2">
                            Обзор партнерки 1win Partners
                        </a>
                        <ul>
                            <li><a href="#" class="js-anchor" data-anchor-target="2.1">Статистика</a></li>
                            <li><a href="#" class="js-anchor" data-anchor-target="2.2">Техническая поддержка</a></li>
                        </ul>
                    </li>
                     <li>
                        <a href="#" class="js-anchor" data-anchor-target="3">
                            Офферы в партнерской программе 1win
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-anchor" data-anchor-target="4">
                            Модели оплаты в 1win
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-anchor" data-anchor-target="5">
                            Выплаты
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-anchor" data-anchor-target="6">
                            Отзывы про 1win Partners
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-anchor" data-anchor-target="6">
                            Заключение
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>

    <div elem="content">

        <h2 elem="title" class="mobile-hidden">Обзор партнерской программы</h2>

        <h3>Общая информация</h3>

        <p>
            1win Partners — это прямой рекламодатель крупного гемблинг-проекта 1win, который проявляет высокую активность в affiliate-комьюнити, организует войсы с другими арбитражными селебрити и энергично продвигается в медиа. Партнерская программа 1win предлагает только один продукт для продвижения, а также беспечивает максимальную поддержку вебмастеров и высокие ставки.
        </p>


        <figure>
            <img loading="lazy" src="img/placeholder-img-large.jpg" alt="">
            <figcaption>Главная страница сайта 1win Partners</figcaption>
        </figure>

        <p>
            <strong>Почему с 1win Partners стоит работать:</strong>
        </p>

        <ul>
            <li>прямой рекламодатель и отсутствие партнерской комиссии;</li>
            <li>хорошо известный во многих странах бренд;</li>
            <li>собственные креативы и промоматериалы для залива;</li>
            <li>персональный подход к каждому вебмастеру.</li>
        </ul>

        <h4>Нюансы работы с сайтом</h4>

        <p>Периодичность выплат: Каждую неделю, есть опция досрочной выплаты</p>
        <p>Принимаемые страны: 6 ГЕО</p>
        <p>Персональный менеджер: Присутствует</p>
        <p>Подробная статистика: Присутствует</p>
        <p>Ставки: от 50% по RevShare, CPA и Hybrid обсуждаются индивидуально</p>
        <p>Промоматериалы: Присутствуют</p>
        <p>Модели оплаты: CPA, RevShare, Hybrid</p>
        <p>Холд: От 7 дней</p>
        <p>Языки: Русский, английский и еще 12</p>

        {% include "blocks/page-banner/page-banner.html" %}

        <h3>Регистрация в 1win Partners</h3>

        <p>
            На старте работы с 1win партнерка просит указать имя, email, номер телефона, контакт в Telegram и источник трафика, а также выбрать желаемую модель оплаты:
        </p>

        <figure>
            <img loading="lazy" src="img/placeholder-img-large.jpg" alt="">
            <figcaption>Окно регистрации в 1win Partners</figcaption>
        </figure>

        <p>
            После ввода данных вы сразу получите уведомление об успешной регистрации: остается только написать менеджеру по одному из указанных контактов и активировать доступ к 1win affiliate program.
        </p>

        <figure>
            <img loading="lazy" src="img/placeholder-img-large.jpg" alt="">
            <figcaption>Подтверждение регистрации в 1win Partners</figcaption>
        </figure>

        <h3>Обзор партнерки 1win Partners</h3>

        <p>
            Первым на платформе открывается дашборд: перед вашими глазами график конверсий за все время, также его можно настроить на месяц, неделю или конкретный день. 
        </p>

        <p><strong>Здесь отражаются:</strong></p>

        <ul>
            <li>рефералы;</li>
            <li>регистрации;</li>
            <li>доход;</li>
            <li>сумма депозитов.</li>
        </ul>

        <figure>
            <img loading="lazy" src="img/placeholder-img-large.jpg" alt="">
            <figcaption>Раздел «Dashboard» в 1win Partners</figcaption>
        </figure>

        <p>
            В разделе промоматериалов можно подобрать баннер от прямого рекламодателя: партнерская программа 1win предлагает десятки креативов на выбор.
        </p>

        <p><strong>Вы можете выбрать креатив на основании следующих параметров:</strong></p>

        <ul>
            <li>формат;</li>
            <li>расширение;</li>
            <li>размер;</li>
            <li>язык;</li>
            <li>ГЕО.</li>
        </ul>

        <figure>
            <img loading="lazy" src="img/placeholder-img-large.jpg" alt="">
            <figcaption>Раздел «Промоматериалы» в 1win Partners</figcaption>
        </figure>

        <p>
            1win партнерка также предлагает создать собственный промокод с любым текстом: нужно лишь придумать название и указать источник трафика.
        </p>

        <p>
            <strong>
                1win партнерка удобна в использовании благодаря многочисленным параметрам отображения статистики:
            </strong>
        </p>

        <ul>
            <li>дата;</li>
            <li>переходы;</li>
            <li>регистрации;</li>
            <li>FD;</li>
            <li>количество депозитов;</li>
            <li>сумма депозитов;</li>
            <li>общий выигрыш;</li>
            <li>доход.</li>
        </ul>

        <figure>
            <img loading="lazy" src="img/placeholder-img-large.jpg" alt="">
            <figcaption>Раздел «Промоматериалы» в 1win Partners</figcaption>
        </figure>

        <h3>Заключение</h3>

        <p>
            рямой рекламодатель 1win Partners является одним из наиболее известных в сфере. Вебмастера могут рассчитывать на максимальную поддержку от 1вин, включая эксклюзивные промоматериалы и любую помощь саппорта в заливах.
        </p>

        <p>
            В репутации 1win Partners не приходится сомневаться: команда активно действует в медиапространстве и давно известна как топовый бренд.
        </p>


    </div>
</section>
<!-- end partner-review -->
