<!-- start article -->
<article block="article" class="container">
    <div elem="in">
        {% set postCategory = 'Рубрика' %}
        {% set postTime = '21.04.2026' %}
        {% set postAuthor = '' %}
        {% include "blocks/post-meta/post-meta.html" %}

        <h1>Blask поделился аналитикой по iGaming-рынкам за 13–19 апреля</h1>

        {% set badgeAvatar = 'img/autor-badge.jpg' %}
        {% set badgeName = 'Ксения Булыгина' %}
        {% include "blocks/author-badge/author-badge.html" %}

        <p>
            Сервис <a href="#">подвел</a> итоги прошедшей недели на iGaming-рынках по всему миру. Ниже — топ-5 стран по росту и падению Blask Index.
        </p>

        <h3 class="h6 db-color">Взлеты недели:</h3>
        <ul>
            <li>Сомали: +16,9;</li>
            <li>Лаос: +14,3;</li>
            <li>Сальвадор: +13,5%;</li>
            <li>Испания: +11,8%;</li>
            <li>Камбоджа: +11,4%.</li>
        </ul>

        <h3 class="h6 db-color">Падения недели:</h3>
        <ol>
            <li>Ирландия: −23,3%;</li>
            <li>Чад: −21%;</li>
            <li>Швейцария: −18,8%;</li>
            <li>Южная Корея: −16,6%;</li>
            <li>Либерия: −16,4%.</li>
        </ol>

        <blockquote block="blockquote">
            «В этот раз рост стал более фрагментированным. Часть рынков двигалась из-за спорта, часть — из-за календарных эффектов, не связанных напрямую с гемблингом», — поделилась команда Blask.
        </blockquote>

        {% include "blocks/page-banner/page-banner.html" %}
    </div>
</article>

<article block="article" class="container">
    <div elem="in">
        {% set postCategory = '' %}
        {% set postTime = '21.04.2026' %}
        {% set postAuthor = '' %}
        {% include "blocks/post-meta/post-meta.html" %}

        <h2>72% всех рекламных нарушений в Индии связаны с офшорными букмекерами</h2>

        {% set badgeAvatar = 'img/autor-badge-2.jpg' %}
        {% set badgeName = 'Михаил Видрашко' %}
        {% include "blocks/author-badge/author-badge.html" %}

        <p>
            Совет по рекламным стандартам Индии (ASCI) сообщил, что в 2025–2026 финансовом году офшорные букмекерские платформы стали крупнейшим источником нарушений рекламного законодательства. На их долю пришлось 72,14% всех рекламных объявлений, признанных несоответствующими нормам.
        </p>

        <p>
            Это произошло несмотря на вступивший в силу в августе 2025 года закон PROGA, который запретил онлайн-игры на реальные деньги и любую их рекламу.
        </p>

        <p>
            Основной площадкой нарушений остается <b>интернет:</b>
        </p>

        <ul>
            <li>97,3% всех выявленных нарушений пришлись на цифровые медиа;</li>
            <li>
                82% цифровых нарушений были размещены через спонсируемую рекламу в социальных сетях.
            </li>
            <li>Сальвадор: +13,5%;</li>
            <li>Испания: +11,8%;</li>
            <li>Камбоджа: +11,4%.</li>
        </ul>

        <p>
            Дополнительную обеспокоенность у властей вызывает инфлюенсер-маркетинг. Из 1 609 проверенных рекламных интеграций почти 97% потребовали корректировки из-за нарушений правил раскрытия рекламы. Более половины таких случаев были связаны с ограниченными категориями, включая нелегальный гемблинг.
        </p>

        <p>
            Всего за отчетный период ASCI рассмотрел 11 581 дело — на 21% больше, чем годом ранее.
        </p>
    </div>
</article>

<article block="article" class="container">
    <div elem="in">
        <div elem="skeleton">
            <div elem="skeleton-preloader" class="loading">
                Загружаем следующую новость...
            </div>
            <div elem="skeleton-meta"></div>

            <div elem="skeleton-paragraph"></div>
            <div elem="skeleton-paragraph" mods="smal-width"></div>

            <div elem="skeleton-badge">
                <div></div>
                <div></div>
            </div>

            <div elem="skeleton-paragraph" mods="smal-height"></div>
            <div elem="skeleton-paragraph" mods="smal-height"></div>

        </div>
    </div>
</article>
<!-- end article -->
