.typography-alt
    h2, .h2
        font-size lf(28, 34)
        line-height lf(36px, 44px)
        letter-spacing -0.005em
        margin lf(36px, 48px) 0 lf(36px, 48px)
        &:first-child
            margin-top 0

    h3, .h3,
    h4, .h4
        color var(--neutral-800)

    h3, .h3
        font-size lf(24, 28)
        line-height lf(36px, all)
        margin-bottom lf(16px, 28px)
        margin-top lf(16px, 28px)
        @media (min-width: $mq.lg)
            letter-spacing -0.05em

    h4, .h4
        font-size lf(20px, 24px)
        line-height lf(32px, 36px)
        margin lf(12px, 26px) 0 lf(12px, 8px)

    figure
        margin lf(24px, 36px) 0
        font-size 0
        img
            vertical-align bottom
            width 100%
        figcaption
            margin-top lf(8px, all)
            font-size lf(12px, all)
            line-height lf(16px, all)

    p
        margin lf(12px, all) 0

    ul
        margin lf(12px, all) 0 lf(16px, 28px)

    .page-banner
        margin lf(52px, 48px) 0
