<!-- start anchors -->
<div block="anchors" class="js-accordion-item">
    <button elem="title" type="button" aria-label="Содержание" class="js-accordion-title">Содержание {{ _icon('arr-d', { tag: 'span' }) }}</button>
    <div elem="dropdown" class="js-accordion-body">
        <ul elem="list">
            <li><a href="#" class="js-anchor" data-anchor-target="0">Что было на стенде</a></li>
            <li><a href="#" class="js-anchor" data-anchor-target="1">Обзор «Артефакт №001»</a></li>
            <li><a href="#" class="js-anchor" data-anchor-target="2">Гости стенда и бизнес</a></li>
            <li><a href="#" class="js-anchor" data-anchor-target="3">
                Будущее VIP-сервиса в онлайн-казино</a>
            </li>
        </ul>
    </div>
</div>
<!-- end anchors -->
