{% set anchorsData = anchorsData | default(anchorsRu) %}
<!-- start anchors -->
<div block="anchors" class="js-accordion-item">
    <button elem="title" type="button" aria-label="{{ anchorsData.title }}" class="js-accordion-title">
        {{ anchorsData.title }} {{ _icon('arr-d', { tag: 'span' }) }}
    </button>
    <div elem="dropdown" class="js-accordion-body">
        <ul elem="list">
            {% for item in anchorsData.items %}
            <li><a href="#" class="js-anchor" data-anchor-target="{{ item.target }}">{{ item.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- end anchors -->
