.pagination
    display flex
    justify-content center
    margin-top lf(24px, 48px)
    margin-bottom lf(40px, 48px)
    &:last-child
        margin-bottom 0

    &__button
        &:hover
            .svg-icon
                fill var(--teal-300)

        &[disabled]
            pointer-events none
            .svg-icon
                fill var(--neutral-400)

        .svg-icon
            width 32%
            height 100%
            svg
                width 100%
                height 100%

    &__button,
    &__item
        width lf(40px, 40.01px)
        height lf(40px, 40.01px)
        border-radius 100%
        text-decoration none
        display flex
        justify-content center
        align-items center
        color var(--neutral-800)
    &__item
        font-size lf(14, 14.01)
        font-weight 500
        &:hover
            color var(--teal-300)
        &.is-active
            background var(--surface)
            color var(--teal-500)

    &__item
        &:nth-last-child(3):has(~ .pagination__button--next)
            display none

    @media (min-width: $mq.sm)
        &__item
            &:nth-last-child(3):has(~ .pagination__button--next)
                display flex


