{% set filterData = filterData | default(filterRu) %}
<!-- start filter -->
<div block="filter" mods="catalog" class="js-filter">
    <div elem="in">
        <div elem="header">
            <button elem="close" class="js-filter-close" type="button" aria-label="{{ filterData.closeLabel }}">{{ _icon('cross', { tag: 'span' }) }}</button>
            <div elem="title">{{ filterData.title }}</div>
            <button elem="reset">{{ filterData.reset }}</button>
        </div>
        <div elem="container">

            {% for group in contactsFilter %}
            <div elem="group" class="js-accordion-item">
                <button elem="group-name" class="js-accordion-title" type="button" aria-label="{{ group.name }}">
                    {{ group.name }}
                    <span class="quantity"></span> {{ _icon('arr-d', { tag: 'span' }) }}
                </button>

                <div elem="group-body" class="js-accordion-body">
                    <div elem="group-body-in" class="js-has-hidden">

                        {% if group.search == true %}
                        {% set placeholder = group.searchPlaceholder %}
                        {% include "blocks/search-form/search-form.html" %}
                        {% endif %}

                        {% for option in group.options %}
                        <div elem="option">
                            <label elem="option-label">
                                {% include "blocks/checkbox/checkbox.html" %}
                                <span>{{ option.name }}</span>
                            </label>
                        </div>
                        {% endfor %}

                        {% if group.more != false %}
                        <button elem="more" class="js-more-btn" type="button" data-text="{{ filterData.hideText }}">
                            {{ filterData.showMore }}
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div elem="footer">
            {% if footerCheckbox == true %}
                <label block="toggle-switch">
                    <span elem="name">{{ filterData.verifiedOnly }}</span>
                    {% set toggleSwitch = true %}
                    {% include "blocks/checkbox/checkbox.html" %}
                </label>
            {% else %}
                {% set btnName = filterData.showBtnText %}
                {% include "blocks/site-button/site-button.html" %}
            {% endif %}
        </div>
    </div>
</div>
<!-- end filter -->
