{% set readAlsoData = readAlsoData | default(readAlsoRu) %}
<!-- start read-also -->
<div block="read-also">
    <div elem="title">{{ readAlsoData.title }}</div>
    <div elem="content">
        <div elem="image">
            <a href="{{ readAlsoData.link | default('#') }}">
                <img loading="lazy" src="{{ readAlsoData.image }}" alt="">
            </a>
        </div>
        <div elem="container">
            {% set postCategory = readAlsoData.category %}
            {% set postTime = readAlsoData.time %}
            {% set postAuthor = readAlsoData.author %}
            {% set postEditor = readAlsoData.editor %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="text" href="{{ readAlsoData.link | default('#') }}">
                {{ readAlsoData.text }}
            </a>
        </div>
    </div>
</div>
<!-- end read-also -->
