<!-- start read-also -->
<div block="read-also">
    <div elem="title">Читайте также</div>
    <div elem="content">
        <div elem="image">
            <a href="#">
                <img loading="lazy" src="img/read-also-1.jpg" alt="">
            </a>
        </div>
        <div elem="container">
            {% set postCategory = 'Знания' %}
            {% set postTime = '21.04.2026' %}
            {% set postAuthor = 'Петр Лесинский' %}
            {% include "blocks/post-meta/post-meta.html" %}

            <a elem="text" href="#">
                Запускаем трафик на RU с надежными платежками: как работает Mad Affiliates
            </a>

        </div>
    </div>
</div>
<!-- end read-also -->
