.partner-info
    margin-bottom lf(36px, 48px)
    padding-top lf(10px, all)
    &__container
        text-align center
    &__image
        border-radius 100%
        overflow hidden
        width lf(72px, 196px)
        height lf(72px, 196px)
        margin 0 auto lf(20px, all)
        img
            width 100%
            height 100%
            display block
            object-fit cover
    &__row
        display flex
        align-items center
        justify-content center
        margin-bottom lf(12px, all)

    &__title
        font-size lf(32, 34)
        line-height lf(40px, 44px)
        letter-spacing -0.005em
        margin-bottom 0
        @media (min-width: $mq.lg)
            letter-spacing -0.01em

    &__verification
        font-size 0
        margin-left lf(11px, all)
        line-height 1
        margin-top lf(5px, all)
        color var(--green-500)
        .svg-icon
            display block
            width lf(13px, all)
            height lf(14px, all)
            svg
                display block

    &__status-bar
        display flex
        align-items center
        justify-content center
        gap lf(8px, 12px)
        margin-bottom lf(12px, all)

    &__status-btn
        display inline-flex
        align-items center
        font-weight 500
        border-radius 100px
        padding lf(4px, 8px) lf(12px, 16px) lf(4px, 8px) lf(13px, 17.66px)
        font-size lf(14, all)
        line-height lf(20px, all)
        &--is-working
            background rgba(#2C8C90, 0.2)
            color var(--teal-300)
        &--is-whitelist
            background rgba(#227DCA, 0.2)
            color #227DCA
        .svg-icon
            margin-right lf(7px, 10px)
            svg
                width 100%
                height 100%
            &--success
                width lf(16.3px, all)
                height lf(16.3px, all)
            &--flag
                width lf(13.3px, all)
                height lf(16px, all)

    &__note
        font-size lf(14, 16)
        line-height lf(20px, 24px)
        font-weight 500

    &__link
        margin-top lf(28px, 32px)


    &__text
        margin-top lf(28px, all)
        display flex
        color var(--neutral-500)
        font-size lf(12, all)
        line-height lf(16px, all)
        font-weight 400
        max-width lf(361px, all)
        margin-left auto
        margin-right auto
        .svg-icon
            margin-right lf(10px, all)
            width lf(14px, all)
            height lf(14px, all)
            flex none

    @media (min-width: $mq.md)
        &__container
            text-align left
            display flex

        &__row
            justify-content flex-start

        &__image
            margin-left 0
            flex none
            margin-bottom 0
            margin-right lf(24px, all)
        &__status-bar
            justify-content flex-start
        &__text
            margin-left 0
            max-width lf(416px, all)
            margin-left lf(140.41px, 220px)

    @media (min-width: $mq.lg)
        display flex
        &__container
            flex none

        &__text
            margin-top lf(17px, all)
            margin-right 0
            margin-left auto

    @media (min-width: $mq.xl)
        &__verification
            font-size lf(16px, all)
            display flex
            align-items center
            font-weight 400
            .svg-icon
                margin-right lf(7px, all)

.partner-info
    &.not-working
        & ^[0]
            &__status-btn
                &--is-working
                    background rgba(#77838D, 0.26)
                    color var(--surface2)

    &.no-verification
        & ^[0]
            &__verification
                color var(--surface2)

    &.in-blacklist
        & ^[0]
            &__status-btn
                &--is-whitelist
                    background rgba(#E34151, 0.15)
                    color #E34151
