<!-- start reviews -->
<div block="reviews">
    <div block="review" class="has-hidden js-has-hidden">
        <div elem="stars">
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div elem="text">
            Хорошая программа с конкурентными условиями и стабильными выплатами. Особенно удобно, что менеджеры не просто отвечают на вопросы, а помогают разобраться с офферами, подсказать рабочие GEO и скорректировать подход, если трафик даёт слабый результат. По выплатам серьёзных проблем не было — всё приходит в заявленные сроки. Из минусов могу отметить, что по некоторым направлениям хотелось бы больше подробной информации заранее, но в целом работать с программой комфортно.
        </div>
        <div elem="show-more">
            <button block="show-more" type="button" class="js-more-btn" aria-label="Подробнее" data-hide-text="Скрыть">
                Подробнее {{ _icon('arr-d2', { tag: 'span' }) }}
            </button>
        </div>
        <div elem="user-name">Игорь Т.</div>
    </div>
    <div block="review">
        <div elem="stars">
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div elem="text">
            Cотрудничаю с 1win Partners уже больше года. Удобный кабинет, много инструментов для привлечения трафика и честные условия.
        </div>
        <div elem="user-name">Мария Л.</div>
    </div>
    <div block="review">
        <div elem="stars">
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div elem="text">
            Cотрудничаю с 1win Partners уже больше года. Удобный кабинет, много инструментов для привлечения трафика и честные условия.
        </div>
        <div elem="user-name">Мария Л.</div>
    </div>
    <div block="review">
        <div elem="stars">
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div elem="text">
            Отличная партнёрская программа. Высокие выплаты, прозрачная статистика и быстрая обработка выплат. Поддержка всегда на связи и помогает решать вопросы оперативно.
        </div>
        <div elem="user-name">Алексей К.</div>
    </div>
    <div block="review">
        <div elem="stars">
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div elem="text">
            Отличная партнёрская программа. Высокие выплаты, прозрачная статистика и быстрая обработка выплат. Поддержка всегда на связи и помогает решать вопросы оперативно.
        </div>
        <div elem="user-name">Алексей К.</div>
    </div>
    <div block="review" class="has-hidden js-has-hidden">
        <div elem="stars">
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
            <div elem="star" class="is-active">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4167 0.75L15.2167 9.63883L24.0833 9.633L16.9503 14.5108L19.622 22.9727L12.4167 17.8113L5.2055 22.9727L7.87717 14.5108L0.75 9.63417L9.61083 9.63883L12.4167 0.75Z" stroke="#77838D" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div elem="text">
            Хорошая программа с конкурентными условиями и стабильными выплатами. Особенно удобно, что менеджеры не просто отвечают на вопросы, а помогают разобраться с офферами, подсказать рабочие GEO и скорректировать подход, если трафик даёт слабый результат. По выплатам серьёзных проблем не было — всё приходит в заявленные сроки. Из минусов могу отметить, что по некоторым направлениям хотелось бы больше подробной информации заранее, но в целом работать с программой комфортно.
        </div>
        <div elem="show-more">
            <button block="show-more" type="button" class="js-more-btn" aria-label="Подробнее" data-hide-text="Скрыть">
                Подробнее {{ _icon('arr-d2', { tag: 'span' }) }}
            </button>
        </div>
        <div elem="user-name">Игорь Т.</div>
    </div>
</div>
<!-- end reviews -->
