{% set featuredData = featuredData | default(featuredRu) %}
<!-- start featured-news -->
<section block="featured-articles">
    <article elem="main">
        <h2 elem="main-title" class="h2">
            {{ featuredData.main.title | safe }}
        </h2>
        <time elem="main-time" datetime="{{ featuredData.main.datetime }}">{{ featuredData.main.dateText }}</time>
        <div elem="main-image">
            <img src="{{ featuredData.main.img }}" alt="">
        </div>
        <div elem="main-preview">
            <p>
                {{ featuredData.main.preview | safe }}
            </p>
        </div>
        <div elem="main-link">
            <a href="{{ featuredData.main.linkHref }}" block="link-arr">{{ featuredData.main.linkText }} {{ _icon('arr-r2', { tag: 'span' }) }}</a>
        </div>
    </article>
    <div elem="list">
        {% for item in featuredData.list %}
        <article elem="list-item">
            {% if item.img %}
            <div elem="list-item-image">
                <img loading="lazy" src="{{ item.img }}" alt="">
            </div>
            {% endif %}
            <div elem="list-item-container">
                <time elem="list-item-time" datetime="{{ item.datetime }}">{{ item.dateText }}</time>
                <h3 elem="list-item-title">
                    <a href="{{ item.href }}">
                        {{ item.title | safe }}
                    </a>
                </h3>
            </div>
        </article>
        {% endfor %}
    </div>
    {% if featuredBtn == true %}
    <div elem="link">
        {% set tagA = true %}
        {% set arrR = true %}
        {% set btnName = featuredData.btnText %}
        {% include "blocks/site-button/site-button.html" %}
    </div>
    {% endif %}
</section>
<!-- end featured-news -->
