<!-- start featured-news -->
<section block="featured-articles">
    <article elem="main">
        <h2 elem="main-title" class="h2">
            Хакер получил 30 месяцев тюрьмы за взлом DraftKings
        </h2>
        <time elem="main-time" datetime="2026-04-21">21.04.2026</time>
        <div elem="main-image">
            <img src="img/featured-news-img.jpg" alt="">
        </div>
        <div elem="main-preview">
            <p>
                В результате атаки пострадали больше <br> 60 000 аккаунтов, а общий «улов» <br> превысил $600 000. Схема была <br> такой: Сначала хакеры с помощью ботов <br class="h-hide"> находили актуальные логины к аккаунтам. <br> Затем эти данные продавали в даркнете. Покупатели заходили в чужие профили и выводили деньги.
            </p>
        </div>
        <div elem="main-link">
            <a href="#" block="link-arr">Читать далее {{ _icon('arr-r2', { tag: 'span' }) }}</a>
        </div>
    </article>
    <div elem="list">
        <article elem="list-item">
            <time elem="list-item-time" datetime="2026-04-21">21.04.2026</time>
            <h3 elem="list-item-title">
                <a href="#">
                    Хакер получил 30 месяцев тюрьмы за взлом DraftKings
                </a>
            </h3>
        </article>
        <article elem="list-item">
            <time elem="list-item-time" datetime="2026-04-20">20.04.2026</time>
            <h3 elem="list-item-title">
                <a href="#">
                    В Украине регулятор начал сотрудничать с YouTube для блокировки гемблинг-рекламы
                </a>
            </h3>
        </article>
        <article elem="list-item">
            <time elem="list-item-time" datetime="2026-04-18">18.04.2026</time>
            <h3 elem="list-item-title">
                <a href="#">
                    В X* набирают популярность провокационные стримы live-казино Duel
                </a>
            </h3>
        </article>
        <article elem="list-item">
            <time elem="list-item-time" datetime="2026-04-18">15.04.2026</time>
            <h3 elem="list-item-title">
                <a href="#">
                    Суд ЕС разрешил требовать возврат проигрышей у операторов без лицензий
                </a>
            </h3>
        </article>
    </div>
    {% if featuredBtn == true %}
    <div elem="link">
        {% set tagA = true %}
        {% set arrR = true %}
        {% set btnName = 'Все новости' %}
        {% include "blocks/site-button/site-button.html" %}
    </div>
    {% endif %}
</section>
<!-- end featured-news -->
