{% set footerData = footerData | default(footerRu) %}
<!-- start footer -->
<footer block="footer">
    <div elem="content" class="container">
        <div elem="first">
            <div elem="logo">
                {% include "blocks/site-logo/site-logo.html" %}
            </div>
            <div elem="first-container">
                <div elem="text">
                    {% for p in footerData.textParagraphs %}
                    <p>{{ p }}</p>
                    {% endfor %}
                </div>
                {% include "blocks/socials/socials.html" %}
            </div>
        </div>
        <div elem="last">
            <nav elem="menu">
                <ul>
                    {% for item in footerData.menuColumn1 %}
                    <li><a href="{{ item.href }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
                <ul>
                    {% for item in footerData.menuColumn2 %}
                    <li><a href="{{ item.href }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <div elem="contacts">
                {% for contact in footerData.contacts %}
                <div elem="contacts-item">
                    <a href="{{ contact.link }}">{{ contact.text }}</a>
                    <span>{{ contact.label }}</span>
                </div>
                {% endfor %}
            </div>
            <div elem="meta">
                {% for meta in footerData.metaLinks %}
                <a href="{{ meta.href }}">{{ meta.name }}</a>
                {% endfor %}
                <div elem="copyright" mods="desctop">{{ footerData.copyright }}</div>
            </div>
            <div elem="copyright" mods="mobile">
                <span>{{ footerData.copyright }}</span>
            </div>
        </div>
    </div>
    <div elem="bg">
        <div elem="bg-in">
            <img loading="lazy" src="img/footer-bg.svg" alt="">
        </div>
    </div>
</footer>
<!-- end footer -->
